<p>Accueil</p>

<p>
    Pour générer un composant, il faut utiliser la commande :
    <br> ng generate component nom_composant
    <br> ng g c nom_composant
</p>

<p>
    Angular est un framework javascript Open-source. Dev par Google pour la création
    d'application web coté client.
    Il utilise le modèle (modèle vue vue-modèle) pour la création d'interfaces 
    utilisateurs dynamiques et réactivces.
</p>

<p>
    Les principales caractéristiques d'Angular incluent la gestion de la liaisons de données
    bidirectionnelle, la modularité, l'injection de, les pipes, les animations de formulaire 
    et la création de composants réutilisables. dépendances, les directives personnalisées, 
    les services, les pipes, les animations de formulaire et la création de composants réutilisables.
>
</p>

<p>
    Angular utilise TS, un langage de programmation qui ajoute des fonctionnalités telles que le
    typage statique, les classes, les interfaces et les décorateurs, pour améliorer la maintenance et
    la sécurité du code.
</p>

<p>
    Angular est utilisé par de nombres entreprises pour la création d'application web
    complexes et évolutives. il est livré avec un suite complète d'outils de dev,
    notamment Angular CLI, qui facilite la création de nouveau projets, la génération du code et la gestion
    des dépendances.
</p>